#set($length=$package.Service.length() - 8)
#set($prefix=$package.Service.substring(0, $length))
#set($lowerEntity=$entity.substring(0,1).toLowerCase() + $entity.substring(1))
/*
 * Copyright (C), 2020-2020, Akeung
 * FileName: ${table.mapperName}
 * Author:   ${author}
 * Date:     ${date}
 */
package ${prefix}.dao.mapper;

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * $!{table.comment}Mapper
 * @author ${author}
 * ${date}
 */
public interface ${table.mapperName} {

    /**
     * 保存或更新$!{table.comment}
     * @param ${lowerEntity} $!{table.comment}
     */
    void saveOrUpdate(@Param("${lowerEntity}") ${entity} ${lowerEntity});
    /**
     * 批量保存$!{table.comment}
     * @param ${lowerEntity}List $!{table.comment}
     */
    void batchSave(@Param("${lowerEntity}List") List<${entity}> ${lowerEntity}List);

    /**
     * 批量保存或更新$!{table.comment}
     * @param ${lowerEntity}List $!{table.comment}
     */
    void batchSaveOrUpdate(@Param("${lowerEntity}List") List<${entity}> ${lowerEntity}List);
}