<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (C), 2020-2020, Akeung
 * FileName: AccountMapper
 * Author:   Akeung
 * Date:     2020-08-15
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak.demo.mapper.AccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ak.demo.entities.Account">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="total" property="total" />
		<result column="used" property="used" />
		<result column="residue" property="residue" />
	</resultMap>


   <update id="decrease">
	   update t_account
	   set
	   residue= residue - #{money},
	   used= used + #{money}
	   where
	   user_id = #{userId}
   </update>
</mapper>
